.flashbox グループを作成しました

.container
  .sidebar
    .header
      .header__name useruseruser
      .header__icon
        .header__icon-create <i class="fa fa-edit "></i> 
        .header__icon-edit <i class="fa fa-cog "></i> 

    .groups
      .groups__group
        .groups__group--name grooooooooooup
        .groups__group--comment commeeeeeeeent

  .main
    .main__header
      .main__header--group
        .main__header--group-name group_name
        .main__header--group-users users_users
      .main__header--btn Edit

    .main__middle
      .comment
        .comment__info
          .comment__info--name AAAAAAAAAA
          .comment__info--date 2019/06/14
        .comment__text helloooooooooooow!!!!!!

    .main__form
      .input__box
        .input__box--text type a message
        .input__box--icon <i class="fa fa-picture-o "></i> 
      .input__btn Send
      