.container
  .side
    .side__header
      .side__header--name useruseruser
      .side__header--menu
      .side__header--menu-create <i class="fa fa-edit "></i> 
      .side__header--menu-edit <i class="fa fa-cog "></i> 

    .groups
      .groups__group
        .groups__group--name grooooooooooup
        .groups__group--comment commeeeeeeeent

  .main
    .main__header
      .main__header--group
        .main__header--group-name group_name
        .main__header--group-users users_users
      .main__header--btn-flame
        .main__header--btn-edit Edit

    .main__middle
      %ul.main__middle--comment
        %li.main__middle--comment-name AAAAAAAAAA
        %li.main__middle--comment-date 2019/06/14
        %li.main__middle--comment-text helloooooooooooow!!!!!!

    .main__form
      .main__form--input
      .main__form--icon
      .main__form--btn
      
    